.headerStyling{
    background-color: rgb(95, 95, 197);
    text-align: center;
    font-size: 25px;
    padding: 30px;
}

.headerImg{
    height: 500px;
}
/* idea notes
add fade transition to my name

*/

/* change font here */
.navStyling{
    padding: 10px;
    font-size: 30px;
}

body {
    background-color: rgb(32, 32, 75)
}

.sections{
    background-color: rgb(46, 87, 100);
    text-align: center;
    font-size: 20px;
    padding: 20px;
   
}

.sectionsHeader{
    font-size: 100px;
    text-align: center;
}

.workImages{
    border: solid blue;
    transform: scale(1);
    height: 600px;
    width: 700px;
    display: inline;
}

.firstImage{
    border: solid blue;
    height: 500px;
    width: 900px;
}

.firstImage:hover{
    opacity: 0.4;
}

.placeholder-text{
    text-align: left;
}
/* the IDs below are strictly for referencing for the internal links' functionality. i doubt this was the most efficient way to do this but i didnt
want to mess with the existing classes or make new ones, so i settled for this.
*/
#aboutMe{
    
}


#myWork {
    
}



#contact-me{
    
}

.workImages:hover{
    opacity: 0.4;
}
/* the code below is ripped directly from w3 schools. i saw no reason to just retype it if im going to use it anyway. */

 /* unvisited link */
 a:link {
    color: rgb(20, 20, 66);
  }
  
  /* visited link */
  a:visited {
    color: rgb(20, 20, 66);
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(195, 195, 236);
  }
  
  /* selected link */
  a:active {
    color: rgb(20, 20, 66);
  } 

  @media all and (max-width: 800px) {
    .firstImage{
        width: 430px;
    }
  }
/* only one media query was used because of the simple nature of the site. the only item that needed to be adjusted was the sole large image on the page.
*/


  
  /* 
  rough dimensions:
  desktop 1200px
  laptop 1024
  tablet 768
  phone 480 
  
  */