.headerStyling{
    background-color: rgb(95, 95, 197);
    text-align: center;
    font-size: 25px;
    padding: 30px;
}

.headerImg{
    height: 500px;
}
/* idea notes
add fade transition to my name

*/

/* change font here */
.navStyling{
    padding: 10px;
    font-size: 30px;
}

body {
    background-color: rgb(32, 32, 75)
}

.sections{
    background-color: rgb(46, 87, 100);
    text-align: center;
    font-size: 100px;
    padding: 50px;
   
}

.sectionsHeader{
    font-size: 200px;
    text-align: center;
}

.workImages{
    border: solid blue;
    
}

/* the IDs below are strictly for referencing for the internal links. i doubt this was the most efficient way to do this. */
#aboutMe{
    font-size: 200px;
    text-align: center;
}


#myWork {
    font-size: 200px;
    text-align: center;
}



#contact-me{
    font-size: 200px;
    text-align: center;
}

.workImages:hover{
    opacity: 0.4;
}
/* the code below is ripped directly from w3 schools. i saw no reason to just retype it if im going to use it anyway. */

 /* unvisited link */
 a:link {
    color: rgb(20, 20, 66);
  }
  
  /* visited link */
  a:visited {
    color: rgb(70, 70, 199);
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(77, 77, 241);
  }
  
  /* selected link */
  a:active {
    color: rgb(77, 77, 241);
  } 